h3
{
    font-size: 25px !important;
}
.btn-success:hover
{
    background-color: rgb(204, 255, 0);
}

canvas{
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes example {

    from {box-shadow: 1px 1px 38px rgb(51, 0, 255);}
    to {box-shadow: 1px 1px 38px green;}
}